<div class="navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse">
				<ul class="nav navbar-nav">
					<li <% if(path==="/"){ %> class="active" <% } %>>
						<a href="/" class="navbar-brand a-homepage">YikaJ-首页</a>
					</li>
					<li <% if(path==="/main"){ %> class="active" <% } %>>
						<a href=<%= main_href %>>前言</a>
						</li>
          <li <% if(path==="/node"){ %> class="active" <% } %>>
          	<a href=<%= node_href %>>Node.js</a>
          </li>
          <li <% if(path==="/express"){ %> class="active" <% } %>>
          	<a href=<%= express_href %>>Express</a>
          </li>
          <li <% if(path==="/ejs"){ %> class="active" <% } %>>
          	<a href=<%= ejs_href %>>EJS</a>
          </li>
          <li <% if(path==="/mongodb"){ %> class="active" <% } %>>
          	<a href=<%= mongodb_href %>>MongoDB</a>
          </li>
				</ul>
			</div>
		</div>
	</div>
</div>